@font-face{
  font-family: 'Ubuntu', sans-serif;
  src:url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
}

:root {
  --bg: #e9d3d3;
  --hero: #a4a5ba;
  --page: #a4a5ba66;
  --primary: #994444;
  --primary-a: #b45e5e;
  --primary-faded:#b3b3b3;
  --dark-text: #1e1717;
  --light-text: #ffffff;
  --link: #9b1f1f;
  --link-a: #ff3131;
}

body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--dark-text);
}

.hfill {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

button.primary{
  background-color: var(--primary-a);
  color: var(--light-text);
  border-radius: 0.5rem;
  border-color: var(--primary);
}

button.primary:hover{
  background-color: var(--primary);
}

button.primary:disabled{
  background-color:var(--bg);
  color: var(--primary-faded);
  border-color: var(--primary-faded);
  cursor:default;
}

a{
  text-decoration: none;
  color: var(--link-a);
}

a:hover{
  color: var(--link);
}

@media screen and (max-width: 480px) {
  :root{
    font-size: 0.75rem;
  }
}